<!DOCTYPE html>
<html lang="en">
<!-- here's a fun trick! try listening to this music while you watch: https://soundcloud.com/ujico/sadmachine -->
<head>
    <meta charset="UTF-8">
    <title>Hey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<img src="{{ url_for('static', filename='m1saka0.png') }}" />
</body>
</html>
